<app-header [title]="title"></app-header>

<ion-content fullscreen="true">
  <ion-progress-bar *ngIf="loading" type="indeterminate" color="danger"></ion-progress-bar>
  <ion-card *ngIf="!loading">
    <ion-card-header>
      <ion-card-subtitle>{{post?.title?.rendered}}</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <img [src]="post?.img$ | async" alt="Post Details" />

      <div class="container">
        {{post?.content?.rendered}}
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>